@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<div class="text-center">
        <h2>@Html.DisplayFor(model => model.StylistName)</h2>
        
        <h3>Hire Date</h3>
        <p>@Html.DisplayFor(model => model.HireDate)</p>
    
        <h2>Clients per Stylist:</h2>

        @if (Model.Clients.Count == 0)
        {
          <p>This stylist has no clients.</p>
        }

        @foreach (Client client in @Model.Clients)
        {
          <p>@Html.ActionLink($"{client.ClientName}", "Details", "Clients", new { id = client.ClientId })</p>
        }

        <p>@Html.ActionLink("Back to list of stylists", "Index")</p>
        <p>@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</p>
        <p>@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</p>
        
</div>