@{
  Layout = "_Layout";
}
@model HairSalon.Models.Client
<h2>Edit Client: @Html.DisplayFor(model => model.ClientName)</h2>

@using (@Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.HiddenFor(model => model.StylistId)
  @Html.LabelFor(model => model.ClientName)
  @Html.EditorFor(model => model.ClientName)

  <input type = "submit" value="Save" />
}
<p>@Html.ActionLink("Back to list of clients", "Index")</p>